.delete-request {
    width: 40%;
}

.delete-request h3 {
    font-size: 1.5rem;
    color: var(--secondary-color);
}

.delete-request p {
    margin: 10px 0;
}

.delete-request div {
    display: flex;
    gap: 10px;
}

.delete-request button {
    border: 0;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
